header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: auto 15px;
    line-height: 2;
    background: var(--secondary-color) !important;
}

/* header img{
    width: 100%;
} */

nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* float: right; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav.nav ul li a{
    text-transform: capitalize;
    font-size: .9rem;
    color: var(--tertiary-color);
}