body{
margin: 0;
}
.about__details-footer, .social__media{
                      
                      border: solid greenyellow;
                      border-radius: 10px;
                      margin: 15px;
                      /* padding: 20px; */
                      width: 150px;
                      
                      
}
.social__icon, .social__media{
                      display: grid;
                      grid-template-columns: repeat(4, 1fr);
                      size: 30px;
                      padding: 10px;

}
.social__media{
                      
                      padding: 15px;
                      margin-left: 120px;
                      width: 150px;
}

.about__details-footer:hover{
                      background-color: black;
                      color: green;
}
